<%# Link to last page %>
<%= link_to url, remote: remote, class: "relative inline-flex items-center px-3 py-2 text-sm font-medium text-muted-foreground bg-background border border-border rounded-r-md hover:bg-muted transition-colors" do %>
  <span class="sr-only">Last</span>
  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02zM4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
  </svg>
<% end %>